/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #BFC9CA;  /* Background color */
  color: black;  /* Text color */
  line-height: 1.6;
  padding: 20px;
}

/* Title and Paragraph Styling */
h1, h2, h3, h4, h5, h6 {
  color: #2E4053;  /* Heading color */
  text-align: center; /* Center headings */
}

p {
  color: black;  /* Paragraph color */
  font-size: 16px;  /* Adjust font size */
  text-align: justify;  /* Justify alignment */
  line-height: 1.8;  /* Line height for readability */
  margin-bottom: 20px;  /* Space between paragraphs */
}

/* Center the paragraphs and control the maximum width */
section {
  max-width: 900px;  /* Maximum width for readability */
  margin: 0 auto;  /* Center the content */
  padding: 0 15px;  /* Add padding for spacing */
}

/* Navigation Styling */
nav {
  background-color: #2E4053;  /* Dark color for nav background */
  padding: 10px;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  color: white; /* White color for text */
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline; /* Underline on hover */
}

/* Section Styling */
section {
  background-color: #BFC9CA;
  padding: 40px;
}

section h2 {
  color: #2E4053;
}
.home-section {
  background-image: url("../assets/images/homepage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh; /* Adjust height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white; /* Adjust text color for visibility */
}
